<app-navbar-one></app-navbar-one>
<div class="page-title-area item-bg-1">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Convênios</h2>
                    <ul>
                        <li><a routerLink="/">Início</a></li>
                        <li>Convênios</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="agency-services-section ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-agency-services">
                    <div class="image">
                        <a href="https://www.unimed.coop.br/site/"><img src="assets/img/agency-services/img1.png" alt="image"></a>
                    </div>
                    <div class="content">
                        <h3>Unimed</h3>
                       
                        <a href="https://www.unimed.coop.br/site/" class="link-btn"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-agency-services">
                    <div class="image">
                        <a href="https://www.ipasgo.go.gov.br/"><img src="assets/img/agency-services/img2.png" alt="image"></a>
                    </div>
                    <div class="content">
                        <h3>Ipasgo</h3>
                        
                        <a href="https://www.ipasgo.go.gov.br/" class="link-btn"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-agency-services">
                    <div class="image">
                        <a href="https://saudevivacom.com.br/site/"><img src="assets/img/agency-services/img3.png" alt="image"></a>
                    </div>
                    <div class="content">
                        <h3>Celgmed</h3>
                        
                        <a href="https://saudevivacom.com.br/site/" class="link-btn"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-agency-services">
                    <div class="image">
                        <a href="https://www.affego.com.br/pagina_inicial_affegosaude.php"><img src="assets/img/agency-services/img4.png" alt="image"></a>
                    </div>
                    <div class="content">
                        <h3>AFFEGO Saúde</h3>
                        
                        <a href="https://www.affego.com.br/pagina_inicial_affegosaude.php" class="link-btn"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-agency-services">
                    <div class="image">
                        <a href="https://www.bradescoseguros.com.br/clientes/produtos/plano-saude"><img src="assets/img/agency-services/img5.png" alt="image"></a>
                    </div>
                    <div class="content">
                        <h3>Bradesco Saúde</h3>
                        
                        <a href="https://www.bradescoseguros.com.br/clientes/produtos/plano-saude" class="link-btn"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

