<section class="footer-section pt-100 pb-70">
    <div class="container">
        <div class="subscribe-area">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12">
                    <div class="subscribe-content">
                        <h2>Fique por dentro das novidades</h2>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12">
                    <form class="newsletter-form">
                        <input type="email" class="input-newsletter" placeholder="Seu E-mail" name="EMAIL">
                        <button type="submit">Inscreva-se já</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <div class="footer-heading">
                        <h3>A D'Cor</h3>
                    </div>
                    <p>D’Cor Cardiologia – Muito mais que um simples exame.</p>
                    <ul class="footer-social">
                        <li><a href="#" target="_blank"><i class="flaticon-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="flaticon-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="flaticon-pinterest"></i></a></li>
                        <li><a href="#" target="_blank"><i class="flaticon-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <div class="footer-heading">
                        <h3>Importantes Links</h3>
                    </div>
                    <ul class="footer-quick-links">
                        <li><a routerLink="/sobre">A D'Cor</a></li>
                        <li><a routerLink="/time">Médicos</a></li>
                        <li><a routerLink="/servicos">Exames/Procedimentos</a></li>
                        <!--<li><a routerLink="/projects-details">Agendamento de Consultas</a></li>-->
                        <li><a routerLink="/contato">Contato</a></li>
                    </ul>
                </div>    
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <div class="footer-heading">
                        <h3>Serviços mais procurados</h3>
                    </div>
                    <ul class="footer-quick-links">
                        <li><a routerLink="/eletrocardiograma">Eletrocardiograma</a></li>
                        <li><a routerLink="/ecocardiograma">Ecocardiograma</a></li>
                        <li><a routerLink="/ergometrico">Teste Ergométrico</a></li>
                        <li><a routerLink="/mapa">MAPA</a></li>
                        <li><a routerLink="/doppler">Doppler Vascular</a></li>
                    </ul>
                </div>    
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <div class="footer-heading">
                        <h3>Contato</h3>
                    </div>
                    <div class="footer-info-contact">
                        <i class="flaticon-phone-call"></i>
                        <h3>Telefone</h3>
                        <span><a href="tel:+556239265004">(62) 3926-5004</a></span>
                    </div>
                    <div class="footer-info-contact">
                        <i class="flaticon-envelope"></i>
                        <h3>Email</h3>
                        <span><a href="mailto:contato@clinicadcor.com.br">contato@clinicadcor.com.br</a></span>
                    </div>
                    <div class="footer-info-contact">
                        <i class="flaticon-pin"></i>
                        <h3>Endereço</h3>
                        <span><a href="https://goo.gl/maps/MD4cG42ggTbzbfDj6" target="_blank">Rua 132, nº 375, Setor Sul - Goiânia - GO</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="copyright-area">
    <div class="container">
        <div class="copyright-area-content">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <p>© This site is Proudly Owned by <a href="https://portalquest.com.br/" target="_blank">Portal Quest</a></p>
                </div>
                <div class="col-lg-6 col-md-6">
                    <ul>
                        <li><a routerLink="/terms-conditions">Termos & Condições</a></li>
                        <li><a routerLink="/privacy-policy">Politica de Privacidade</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="go-top"><i class="bx bx-chevron-up"></i><i class="bx bx-chevron-up"></i></div>

<div class="sidebar-modal">
    <div class="sidebar-modal-inner">
        <div class="sidebar-about-area">
            <div class="title">
                <h2>Venha nos conhecer</h2>
                <p>Marque já sua consulta, pelo o site, whatsapp, ou pelo o nosso número!</p>
            </div>
        </div>
        <div class="sidebar-contact-feed">
            <h2>Contato</h2>
            <div class="contact-form">
                <form id="contactForm">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <input type="text" name="name" id="name" class="form-control" placeholder="Seu Nome">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <input type="email" name="email" id="email" class="form-control" placeholder="Seu Email">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <input type="text" name="phone_number" id="phone_number" class="form-control" placeholder="Seu Telefone">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <input type="text" name="msg_subject" id="msg_subject" class="form-control" placeholder="Especialidade">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <textarea name="message" class="form-control" id="message" cols="30" rows="6" placeholder="Sua Mensagem"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="send-btn">
                                <button type="submit" class="send-btn-one">Enviar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="sidebar-contact-area">
            <div class="contact-info">
                <div class="contact-info-content">
                    <h2>
                        <a href="tel:+556239265004">(62)3926-5004</a>
                        <span>OR</span>
                        <a href="wa.me/#">WhatsApp</a>
                    </h2>
                   <!-- <ul class="social">
                        <li><a href="#" target="_blank"><i class="flaticon-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="flaticon-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="flaticon-instagram"></i></a></li>
                        <li><a href="#" target="_blank"><i class="flaticon-pinterest"></i></a></li>
                    </ul>-->
                </div>
            </div>
        </div>
        <span class="close-btn sidebar-modal-close-btn">
            <i class="flaticon-cancel"></i>
        </span>
    </div>
</div>