<div class="navbar-area">
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand" routerLink="/">
                <img src="assets/img/logo.png" alt="logo">
            </a>

            <button class="navbar-toggler" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item"><a routerLink="/" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Inicio <i class='nav-link'></i></a></li>
                    <li class="nav-item"><a routerLink="/sobre" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">A D'Cor</a></li>
                    <li class="nav-item"><a routerLink="/time" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Médicos</a></li>
                    <li class="nav-item"><a routerLink="/servico" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Exames/Procedimentos</a></li>
                    <!--<li class="nav-item"><a routerLink="/consultas" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Agendamento de Consultas</a></li>-->
                    <li class="nav-item"><a routerLink="/contato" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Contato</a></li>
                </ul>
                <div class="others-options">
                    <div class="option-item"><a routerLink="/resultado" target="_blank"><i class="btn btn-danger flaticon-quality">Resultado de Exames</i></a>
                    </div>
                    <div class="burger-menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>