<app-navbar-one></app-navbar-one>

<div class="page-title-area item-bg-4">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>MAPA</h2>
                    <ul>
                        <li><a routerLink="/servico">Serviços</a></li>
                        <li>MAPA</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="services-details-area ptb-100">
    <div class="container">
        <div class="services-details-video">
            <div class="text">
                <h3>MAPA</h3>
                <p>é um exame que permite o registro indireto e intermitente da pressão arterial durante 24 horas, enquanto o paciente realiza suas atividades habituais e também durante o sono.</p>
            </div>
        </div>
        <div class="services-details-overview">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="services-details-desc">
                        <h3>Como é feito o MAPA</h3>
                        <p>O MAPA coinsiste apenas na instalção do equipamento de monitoramento  no braço do paciente, onde ficará por 24 horas. Importante que o pciente mantenha suas atividades rotineiras, para que seja possivel obter um resultado mais preciso do exame.</p>
                        <div class="features-text">
                            <h3>Preparação para o MAPA</h3>
                            <p>O exame não exige preparação.</p>
                        </div>
                        <div class="features-text">
                            <h3>Tempo de duração</h3>
                            <p>O MAPA leva 24 horas para ser concluído.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="services-details-image">
                        <img src="../../../../assets/img/exam-detail/mapa.jpg" alt="image">
                    </div>
                </div>
            </div>
        </div>   
    </div>
</section>