<app-navbar-one></app-navbar-one>

<div class="page-title-area item-bg-4">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Hipertensão, uma doença silenciosa</h2>
                    <ul>
                        <li><a routerLink="/">Inicío</a></li>
                        <li>Blog Post</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="blog-section pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="blog-details-desc">
                    <div class="article-image">
                        <img src="assets/img/blog-details/blog-1.jpg" alt="image">
                    </div>
                    <div class="article-content">
                        <h3>Hipertensão, uma doença silenciosa</h3>
                        <p>A Hipertensão Arterial é uma doença que atinge a maioria da população mundial, sem discriminação, ela acomete homens e mulheres de todas as idades e classes sociais.
                            Popularmente conhecida como “Pressão Alta”, a Hipertensão ocorre quando a pressão arterial, que é responsável por empurrar o sangue bombeado pelas artérias, aumenta e leva o coração a fazer um maior esforço para impulsionar o sangue e recebe-lo de volta, consequentemente dilatando o órgão e danificando as artérias. </p><br>
                        <p>É normal que a pressão arterial tenha valores diferentes durante o dia, por exemplo, quando estamos em repouso ela tende a ter um valor menor, se comparado à quando realizamos esforço físico, pois o cérebro avisa que o corpo precisa de mais energia. 
                            Uma pessoa hipertensa, tem a pressão arterial em repouso, a partir de 14 por 9 (140mmHg X 90mmHg). Ao ultrapassar esse limite, o paciente está sob um risco significativamente maior de desenvolver doenças cardiovasculares, renais, entre outras. </p><br>
                        <h3>Uma doença traiçoeira </h3>
                        <p>Por apresentar sintomas somente em uma fase muito avançada, ou quando sofre alteração de forma abrupta, é considerada uma doença traiçoeira. Quando surgem na fase inicial, os sintomas são:</p>
                        
                        <ul class="features-list">
                            <li><i class="flaticon-tick"></i> dores de cabeça;</li>
                            <li><i class="flaticon-tick"></i> tonturas;</li>
                            <li><i class="flaticon-tick"></i> dores no peito;</li>
                            <li><i class="flaticon-tick"></i> falta de ar;</li>
                            <li><i class="flaticon-tick"></i> zumbidos no ouvido e visão borrada.</li>
                        </ul>
                        <h3>Mas afinal, o que leva à Hipertensão? </h3>
                        <p>Existem muitos fatores que podem ser responsáveis pela Hipertensão, alguns exemplos são a hereditariedade, obesidade, alimentação com muito sal, consumo excessivo de bebidas alcoólicas, falta de exercícios físicos, estresse e tabagismo. </p><br>
                        <p>A maneira de evitar a hipertensão, assim como várias outras doenças, é adotar um estilo de vida saudável.</p>
                        <h3>Tratamento</h3>
                        <p>O tratamento tem como abjetivo manter a pressão estável, com valores mais próximos possíveis de 12 por 8.</p><br>
                        <p>Uma parcela dos hipertensos consegue reverter o aumento da pressão arterial com alguns ajustes na rotina, mudando a alimentação, evitando o estresse e implementando atividades físicas no dia a dia.</p><br>
                        <p>Já em pacientes onde essas mudanças não apresentam resultado, o médico entra com a prescrição de remédios anti-hipertensivos, alguns com efeito vasodilatador ou diurético para eliminar o sódio, por exemplo. </p><br><br>
                        <p>O tratamento para a hipertensão exige esforço, pois é necessário realizar mudanças significativas nos hábitos diários, e ter diligencia com o uso dos medicamentos receitados. Contudo, ao seguir as orientações médicas, é possível ter boa qualidade de vida, mesmo que não haja cura para a doença.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>