<app-navbar-one></app-navbar-one>

<div class="page-title-area item-bg-4">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Espirometria</h2>
                    <ul>
                        <li><a routerLink="/servico">Serviços</a></li>
                        <li>Espirometria</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="services-details-area ptb-100">
    <div class="container">
        <div class="services-details-video">
            <div class="details-image">
                <img src="assets/img/services-details/bg.jpg" alt="image">
            </div>
            <div class="text">
                <h3>Espirometria</h3>
                <p> Prova de Função Pulmonar ou Exame do Sopro, a Espirometria é um exame utilizado para medir a quantidade e o fluxo de ar que entra e sai dos pulmões</p>
            </div>
        </div>
        <div class="services-details-overview">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="services-details-desc">
                        <h3>Como é feito a espirometria</h3>
                        <p>O exame é feito por meio de um tubo de papelão descartável, que ligará a boca do paciente ao espirômetro, aparelho que fará a mensuração da respiração do paciente, monitorando volume e velocidade do fluxo de ar. Além da respiração normal, o médico solicitará que o paciente sopre no tubo moderadamente e com muita força por algumas vezes para ter vários parâmetros e possibilidades de avaliação.</p>
                        <div class="features-text">
                            <h3>Preparação para a espirometria</h3>
                            <p>Não devem ser usados chás, cafés ou bebidas alcoólicas cerca de seis horas antes do início do exame<br/>
                            Não se deve fumar nas 2 horas que antecedem o exame.<br/>
                            Não deve ser realizada caso a pessoa esteja gripada ou resfriada</p>
                        </div>
                        <div class="features-text">
                            <h3>Tempo de duração</h3>
                            <p>Geralmente dura em torno de 15 minutos.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="services-details-image">
                        <img src="assets/img/services-details/img1.jpg" alt="image">
                    </div>
                </div>
            </div>
        </div>   
    </div>
</section>