<app-navbar-one></app-navbar-one>

<div class="page-title-area item-bg-4">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Teste Ergométrico</h2>
                    <ul>
                        <li><a routerLink="/servico">Serviços</a></li>
                        <li>Teste Ergométrico</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="services-details-area ptb-100">
    <div class="container">
        <div class="services-details-video">
            <div class="text">
                <h3>Teste Ergométrico</h3>
                <p>O exame serve para avaliar o funcionamento cardiovascular, quando este estiver em submetido à um esforço físico.</p>
            </div>
        </div>
        <div class="services-details-overview">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="services-details-desc">
                        <h3>Como é feito o teste ergométrico</h3>
                        <p>O eletrocardiograma é um exame rápido, simples e indolor. Os impulsos elétricos do coração são registrados em um pedaço de papel. Para a realização do ECG, o paciente fica deitado numa maca em repouso por 5 minutos antes do procedimento, para que o resultado não sofra influência de fatores externos, tais como atividades físicas ou uso de cigarros e de preferência que o paciente esteja em jejum.</p>
                        <div class="features-text">
                            <h3>Preparação para o teste ergométrico</h3>
                            <p>Não fumar por 2 horas antes e 1 hora após;<br/>
                            Dietas de 1 ou 2 horas;<br/>
                            Não usar cremes, pomadas e gel no dia do exame;</p>
                        </div>
                        <div class="features-text">
                            <h3>Tempo de duração</h3>
                            <p>O teste ergométrico leva em torno de 20 minutos.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="services-details-image">
                        <img src="../../../../assets/img/exam-detail/teste-ergometrico.jpg" alt="image">
                    </div>
                </div>
            </div>
        </div>   
    </div>
</section>