<app-navbar-one></app-navbar-one>

<div class="page-title-area item-bg-4">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Doppler Vascular</h2>
                    <ul>
                        <li><a routerLink="/servico">Serviços</a></li>
                        <li>Doppler Vascular</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="services-details-area ptb-100">
    <div class="container">
        <div class="services-details-video">
            <div class="text">
                <h3>Doppler Vascular</h3>
                <p>O Doppler Vascular é um exame que analisa artérias e veias, com o propósito de diagnosticar doenças vasculares como, por exemplo, tromboses, varizes, estenoses e aneurismas.</p>
            </div>
        </div>
        <div class="services-details-overview">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="services-details-desc">
                        <h3>Como é feito o Doppler Vascular</h3>
                        <p>Trata-se de um exame indolor e simples que utiliza de um aparelho de ultrassom para verificar doenças vasculares ou complicações, em diferentes partes do corpo.</p>
                        <div class="features-text">
                            <h3>Preparação para o Doppler Vascular</h3>
                            <p>O Doppler Vascular normalmente não exige uma preparação prévia, contudo em alguns casos pode ser necessário um jejum de algumas horas, consulte seu médico com antecedência.<br/></p>
                        </div>
                        <div class="features-text">
                            <h3>Tempo de duração</h3>
                            <p>O Doppler Vascular geralmente leva menos de 30 minutos para ser concluído.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="services-details-image">
                        <img src="../../../../assets/img/exam-detail/doppler-vascular.jpg" alt="image">
                    </div>
                </div>
            </div>
        </div>   
    </div>
</section>