<app-navbar-one></app-navbar-one>


<div class="login-section ptb-100">
    <div class="container">
        <div class="login-form">
            <div class="login-title">
                <h3>Veja o resultado do seu exame!</h3>
                <p>Por favor, insira seu nº de Protocolo e senha</p>
            </div>
            <form>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <input type="number" class="form-control" placeholder="Protocolo">
                        </div>
                    </div>
                    <div class="col-lg-12 mt-3">
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password">
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="send-btn">
                            <a routerLink="/" class="default-btn">Pegar Resultado</a>
                        </div>
                        <br>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>