<app-navbar-one></app-navbar-one>


<div class="login-section ptb-100">
    <div class="container">
        <div class="login-form">
            <div class="login-title">
                <h3>Veja o resultado do seu exame!</h3>
                <p>Por favor, insira seu nº de Protocolo e senha</p>
            </div>
            <form name="frm">
                <table>
                  <tr><td>Protocolo&nbsp;</td><td><input type="text" name="cmp_protocolo" /></td></tr>
                  <tr><td>Senha</td><td><input type="password" name="cmp_senha" /></td></tr>
                  <tr><td></td><td><input type="button" value="Consultar" onclick="consultar_resultado()" /></td></tr>
                </table>
                </form>
        </div>
    </div>
</div>